{% extends 'base.html.twig' %}

{% block title %}Восстановить пароль{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="reset-password-page page">
        <div class="container">
            <div class="content">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <h1>Восстановить пароль</h1>

                <span>{{ form_start(requestForm) }}</span>
                <span>{{ form_row(requestForm.email) }}</span>
                <div>
                    <p>
                        Введите адрес электронной почты для отправки ссылки на восстановление.
                    </p>
                </div>

                <button class="btn btn-primary">Отправить письмо</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}