{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать!{% endblock %}

{% block body %}
    {{ include('components/header_main.html.twig') }}

    <div class="main-page">
        <div class="container">
            <div class="welcome">
                <div class="welcome-text">
                    <h1>Добро пожаловать</h1>
                    <p>на сервис отслеживания статистики вашего&nbsp;coub&nbsp;канала</p>
                </div>
                <div class="welcome-btn">
                    <a href="{{ path('app_login_coub') }}" class="btn">
                        Войти с помощью COUB
                    </a>
                </div>
                <div class="welcome-policy">
                    Авторизуясь, вы соглашаетесь с
                    <a class="default-link" href="{{ path('terms_page') }}">правилами пользования сайтом</a>
                    и даете
                    <a class="default-link" href="{{ path('agreement_page') }}">согласие на обработку персональных данных</a>.
                </div>
            </div>
        </div>
    </div>

    {{ include('components/footer.html.twig') }}
{% endblock %}
