<div class="header header-dashboard">
    <div class="logo">
        <a href="{{ path('main') }}">Cublytics</a>
    </div>
    <div class="top-menu">
        <div class="top-left links">
            <a href="{{ path('main') }}" class="top-menu-link">Главная</a>
        </div>
        <div class="top-right links">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="top-menu_user">
                    <img class="top-menu_user-avatar" src="{{ channel.avatar }}" alt="">
                    <span class="top-menu_user-title">{{ channel.title }}</span>
                </div>
                <a href="{{ path('app_logout') }}" class="top-menu-link">Выйти</a>
            {% endif %}
        </div>
    </div>
</div>
